@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  color: #333;
}

div#wrap {
  width: 800px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

form#uploader div.form_item {
  margin: 20px;
}

div.radio {
  display: block;
  margin-left: 185px;
  margin-top: -1.8em;
}

div.form_item label {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

div.form_item label input[type=text], div.form_item label input[type=email] {
  width: 350px;
}

div.form_item label span.styled_label {
  display: inline-block;
  width: 180px;
}

div.form_item label textarea {
  display: block;
  margin-left: 185px;
  margin-top: -1.5em;
  width: 350px;
  height: 100px;
  resize: none;
}

div#keywords_box {
  margin-left: 185px;
  margin-top: -1.5em;
}

div#keywords_box input.keywords {
  margin-bottom: 5px;
  display: block;
}

hr {
  width: 800px;
  height: 0px;
  border: dashed 1px #D0D0D0;
  margin-top: 20px;
  margin-bottom: 20px;
}

div.paper {
  width: 800px;
}

div.paper_item {
  margin-top: 10px;
  margin-bottom: 10px;
}

div.paper_item span.label {
  display: inline-block;
  width: 140px;
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
}

span.ja {
  display: inline-block;
  margin-right: 5px;
}

span.en {
  display: inline-block;
  margin-left: 5px;
}

p.description {
  display: inline-block;
  margin-right: 10px;
  width: 300px;
  height: 100px;
  overflow: scroll;
  padding: 2px;
}

p.description.ja {
  margin-left: 150px;
}

div.description {
  display: block;
  width: 140px;
  text-align: right;
  padding-right: 10px;
  font-weight: bold;
}

div.paper_item ul.keywords {
  display: inline;
}

div.paper_item ul.keywords li {
  display: inline-block;
  margin-right: 5px;
}
